.fondo {
background-image: url("../imagenes/fondo2.jpg");
}

.logo{
margin: 4vw;
}

.fotoprincipal {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    border-top: 1px solid #ff9999;
    border-right: 2px dotted #99ff99;   
    border-bottom: 2px dashed #9999ff;
    border-left: 4px double #666666;
    display:inline-flex ;
    width: 60%;
}

.lado2 {
    width:65%;
    background-color: lightgray;
    display: inline-block;
    overflow: auto;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 0vw ;
    border: solid ;
    vertical-align:top;
    }

.titulo {
    color: rgb(255, 8, 0);
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 5em;
    font-family: "Lobster";
    text-shadow: 0.1em 0.1em 0.2em black  
}
.historia {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-family: "Lobster";
    font-size: 225%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.turno {
    justify-content: center;
    color: rgb(5, 5, 5) ;
    background-color: rgba(42, 31, 105, 0.601);
    font-family: 'Josefin Sans';
    font-size: 2em;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 2vw  ;
    
}

.contacto {
    justify-content: center;
    color: rgb(5, 5, 5) ;
    background-color: rgba(141, 27, 78, 0.767);
    font-family: 'Josefin Sans';
    font-size: 2em;
    text-align: center;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 2vw  ;
}

.card {
    width:26%;
    background-color: lightgray;
    display: inline-block;
    overflow: auto;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 1vw 2vw 1vw ;
    border: solid ;
    vertical-align:top;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

.flip-scale-up-hor {
    animation: flip-scale-up-hor 0.5s linear both;
}
.shadow-drop-2-center {
-webkit-animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
animation: shadow-drop-2-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.cardprincipal {
    width:26%;
    background-color: lightgray;
    display: inline-block;
    overflow:auto;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 1vw 2vw 1vw ;
    border: solid ;
    vertical-align:top;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.card__precio{
height: 50vh ;
width: auto;
box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card__precio-description{
font-size: 2vh;
}

.boton{
    color: rgb(3, 3, 3);
    background-color: #eef300;
    border-color: #ddfe04;
    border-radius: 10px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    text-align:center
}

.grid{
width: 99%;
display: grid;
grid-template-rows: repeat(8, 12%);
grid-template-columns: repeat(10, 10fr);
grid-template-areas:
    "header header header header header header header header header header"
    "menu menu menu menu menu menu menu menu menu menu"
    "foto foto foto content content content content content content content"
    "foto foto foto content content content content content content content"
    "foto foto foto content content content content content content content"
    "foto foto foto content content content content content content content"
    "foto foto foto content content content content content content content"
    "footer footer footer footer footer footer footer footer footer footer" ;
}

.border{
border:1px solid black;
}

.header{
grid-area: header;
}

.menu{
grid-area: menu;
padding: 0.5vw 1vw 1vw 1vw;
margin: 1vw 1vw 1vw 1vw;
font-family: 'Josefin Sans';
font-size: 150%;
}

.dentromenu{
font-size: 20px;
padding: 1vw 1vw 1vw 1vw;
}

.foto{
    grid-area:foto;
}

.foto-principal {
    margin: 7% 5px 5px 5%;
    padding: 5px 5px 5px 5px;
    border: solid;
    display:inline-flex ;
    width: 90%;
}

.content {
    grid-area: content;
    padding: 1vw 1vw 1vw 1vw;
    margin: 2vw 2vw 2vw 0vw ;
    background-color: rgba(211, 211, 211, 0.571);
    overflow:auto ;
}

.footer{
    grid-area: footer;
    width: 90%;
    height: 20px;
    color:#ffffff;
    justify-content: center;
    text-align: center;
    font-size: 150%;
    margin: 10px 10px 10px 10px;
    padding: 5% ;
    vertical-align:text-bottom;
}

.fotofooter {
    width: 3vw;
    height: 3vh;
}
.imgfooterinsta {
width: 2vw ;
height:3vh ;
}

.zoom:hover {
    transform: scale(1.1); 
}
.zoom {
    transition: transform .2s; 
}

nav {
    background: rgba(255, 255, 255, 0.493);
    height: 55px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
    }

nav a:hover {
    background: #ea0d0d67;
}

nav .indicador {
    width: 10px;
    height: 7px;
    background: #f501dc;
    position: absolute;
    bottom: 0;
    transition: .3s ease-out all;
    transform: translate(-500px);
}

@font-face {
    font-family: 'Lobster';
    src: url('../font/Lobster-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Pacifico';
    src: url('../font/Pacifico-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@media (max-width: 768px) {
    .menu {
    font-size: 80%
}

.footer { font-size: 50%;
    font-style: italic;
    align-items: center;
    justify-content: center;
    text-align: center;  
    vertical-align:text-bottom; 
    margin-top:auto;
    color:#fdfdfd
}

.fotofooter {
    width: 20px;
    height: 20px;
}

.imgfooterinsta {
    width: 2vw ;
    height:3vh ;
    }
    
.grid{
    width: 99%;
    display: grid;
    grid-template-rows: repeat(10, 9%);
    grid-template-columns: repeat(5, 5fr);
    grid-template-areas:
        "header header header header header "
        "menu menu menu menu menu "
        "foto foto foto foto foto "
        "foto foto foto foto foto "
        "foto foto foto foto foto "
        "foto foto foto foto foto "
        "foto foto foto foto foto "
        "content content content content content "
        "content content content content content "
        "content content content content content "
        "content content content content content "
        "footer footer footer footer footer " ;
}

.foto-principal {
    margin: 7% 0px 0px 5%;
    padding: 5px 0px 0px 5px;
    border: solid;
    display:inline-flex ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.content {
    grid-area: content;
    padding: 1vw 1vw 1vw 1vw;
    margin: 0vw 2vw 2vw 2vw ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

.cardprincipal{

height: auto ;
width: 100%;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__precio{
    height: 50vh ;
    width:80vw;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card__precio-description{
font-size: 1.5vh;
}
    }
